.galeria {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  justify-content: center;
}

.galeria img {
  width: 300px;
  height: auto;
  border-radius: 8px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.2);
}
