footer {
    background: linear-gradient(to right, #003087, #0051b8);
    color: white;
    text-align: center;
    padding: 1.5rem;
    position: relative;
    width: 100%;
}

footer p {
    font-size: 1rem;
}
