@media (max-width: 768px) {
  nav ul {
    flex-direction: column;
    align-items: center;
  }

  .galeria {
    flex-direction: column;
    align-items: center;
  }

  .galeria img {
    width: 90%;
  }

  iframe {
    width: 100%;
    height: 300px;
  }

  button {
    width: 100%;
    margin-top: 10px;
  }
}
